.wrap {
  height: 100dvh;
  max-height: 100vh;
  @apply flex flex-col justify-center items-center relative;
}

.contentsWrap {
  @apply h-full w-full relative;
}

.contents {
  @apply w-full h-full relative px-4 flex items-center justify-center;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}